BOT_TOKEN=123456789:telegram_bot_token
ADMIN_IDS=2041008827
DATABASE_PATH=bot.db
REQUIRED_CHANNEL=@algoritm_school_oltiariq

# Docker ishlatilsa:
# Railway Volume uchun mount path: /data
# DATABASE_PATH=/data/bot.db
